<div class="mainposts">

    @*Root myDeserializedClass
    @foreach(var el in myDeserializedClass.data)
    {
        <p>
            @item.get_article_id
            @item.get_article_number
            @item.get_quantity
            @item.get_reserved_quantity
            @item.get_name_item
        </p>

    }*@
</div>