@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<link href="css/site.css" rel="stylesheet" />
<partial name="Shared/_Header.cshtml" />
<partial name="Shared/_LeftBar.cshtml" />
<partial name="Shared/_TopBar.cshtml" />

<div class="main">
    <table>
        @foreach (var el in Model.Values)
        {
            <tr>
                <td id="td @el.id" onclick="showEntry(this.id)">
                    <div class="checkbox"></div>
                    <div class="favourite"></div>
                    <div class="author">@el.author.username</div>
                    <div class="content_title">@el.content.Substring(0, (el.content.Length > 70 ? 70 : el.content.Length))</div>
                    <div class="time_created">@el.created_at.Substring(el.created_at.Length - 8,5)</div>

                </td>
            </tr>
        }
    </table>
    <div class="right_bar">
    @foreach (var el in Model.Values)
    {
        <div class="entry" id=@el.id>
            <div class="entry_title" >
                @el.content.Substring(0, (el.content.Length > 40 ? 40 : el.content.Length))
            </div>
            <div class="entry_title_icons">
                <img src="~/images/entry_title_icons.png" alt="Alternate Text" />
            </div>
            <div class="entry_content">
                <div class="entry_author_image">
                    <img src="@el.author.avatar" alt="Alternate Text" />
                </div>
                <div class="entry_author">
                    @el.author.username
                </div>
                <div class="entry_mail">
                    &lt;@el.author.username@Html.Raw("@")gmail.com&gt;
                </div>
                <div class="entry_time_created">
                    @el.created_at
                </div>
                <div class="entry_comment_icons">
                    <img src="~/images/entry_comment_icons.png" alt="Alternate Text" />
                </div>
                <div class="entry_content_value">
                    @el.content

                </div>
                @if (el.media.photo != null)
                {
                    <div class="entry_image">
                        <img src="@el.media.photo.url" alt="Alternate Text" />
                    </div>
                }

            </div>
        
        </div>
    }
    </div>
</div>

<script>
    function showEntry(id) {
        document.getElementById(id).getElementsByClassName('content_title')[0].style.fontWeight = '400';
        document.getElementById(id).getElementsByClassName('author')[0].style.fontWeight = '400';
        document.getElementById(id).getElementsByClassName('time_created')[0].style.fontWeight = '400';
        document.getElementById(id).style.background = 'rgb(242, 246, 252)';
        for (let el of document.querySelectorAll('.entry')) el.style.display = 'none';
        const elem = document.getElementById(id.slice(3));
        elem.style.display = 'initial';
        elem.style.visibility = 'visible';
        
    }
</script>
<script src="/_framework/aspnetcore-browser-refresh.js"></script>